[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lightgbm = "*"
pandas = "*"
pyqt5 = "*"
matplotlib = "*"
autograd = "*"

[dev-packages]
autopep8 = "*"
yapf = "*"
exceptiongroup = "*"

[requires]
python_version = "3.10"
